 {% load pagination_helpers %}
 <div class="pagination">
    <span class="pagination__nav">
        {% if page_obj.has_previous %}
            <a href="?page=1&{% remove_page_param %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&{% remove_page_param %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{% remove_page_param %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&{% remove_page_param %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
