html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    }
    body, html {
        padding: 0;
        margin: 0;
        background-color: #c9c9bc;
        height: 100%;
    }
    h1, caption {
        color: #6d7141;
        font-weight: bold;
    }
    h2, span {
        color: #6d7141;
        font-family: 'Roboto', sans-serif;

    }
    h3 {
        color: #e8e8e8
    }

    a {
        color: #6d7141;

    }

     header {
        background-color: #e8e8e8;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        display: flex;
        align-items: center;
    }

    header * {
        display: inline;
    }

    header a {
    font-size: 18px; /* Adjust the font size as needed */
    padding: 10px 15px; /* Adds padding around the links for better spacing and clickability */
    text-decoration: none; /* Optional: removes underline from links */
    color: #6d7141; /* Example color; adjust as needed */
}

    form {
        background-color: lightgrey;
        width: 300px;
        border: 1px solid green;
        padding: 50px;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .site-container {
      display: grid;
      grid-template-rows: auto 1fr auto; /* Header, content, footer */
      min-height: 100vh; /* Full viewport height */
    }
    .page-header {
        background-color: #244b8c;
        margin-top: 0;
        margin-bottom: 30px;
        padding: 20px 20px 60px 40px;
    }

    .main-content {
        margin-top: 80px;
}

    .page-header h1,
    .page-header h1 a,
    .page-header h1 a:visited,
    .page-header h1 a:active {
        color: #ffffff;
        font-size: 20pt;
        text-decoration: none;
    }
    .container a {
        float:left;
        padding: 12px;
    }
    .card {
        background-color: white;
    }
    table, th, td {
        border: 1px solid black;
    }
    table {
        border-collapse: collapse;
        width: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-top: 20px;
    }
    table th, table td {
        padding: 12px 15px;
    }
    th {
        background-color: #8b8d68;
        color: #e8e8e8;
    }
    tr:nth-child(even) {
        background-color: #eee;
    }
    tr:nth-child(odd) {
        background-color: #fff;
    }

    .inline-tables {
        display: flex;
        justify-content: center; /* Ensures tables are centered */
        flex-wrap: wrap;
        gap: 10px; /* Manages space between tables */
    }

    .inline-tables table {
        flex: 0 1 200px; /* Adjusts how tables grow and sets a more suitable initial size */
        /* flex-grow: 0 - Tables won't grow larger than their content/max-width
           flex-shrink: 1 - Allows tables to shrink if necessary
           flex-basis: 200px - Sets an initial starting width, adjust as needed */
        margin: 10px; /* Provides spacing around each table */
    }
    .menu-page {
        background-color: #fffdd0;
        width:60%;
	    margin:auto;
	    padding:10px;
        box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
        border-radius: 10px;
    }
    .menu-item {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .login-box {
        background-color: white;
        width:40%;
        margin: auto;
        padding: 10px;
        border: 10px solid #FFF500;
        box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
        border-radius: 10px;
        margin-top: 100px;
    }
    .logout-button {
        color: white;
        background-color: #a0bfd3;
        border-radius: 3px;
        text-decoration: none;
        position: absolute;
        top: 50px;
        right: 15px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-name {
        position: absolute;
        top: 2px;
        right: 15px;
    }

    footer {
  background-color: #e8e8e8;
  padding: 10px 0;
  height: 60px; /* Example fixed height */
  text-align: center;
  color: white;
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the height calculation */
}