{% extends "base.html" %}

{% block content %}
<h1>Your expenses categories</h1>

<br>

<a href="{% url 'category-create' %}" class="button-add">Add new category</a>

<br>
<br>
<div>
	<table border="1" id="table-category" class="table-small">
	<thead>
		<tr>
			<th>name</th>
			<th>number of expenses</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr>
			<td>
				{{obj.name}}
			</td>
			<td>
				{{obj.counter}}
			</td>
			<td>
				<a href="{% url 'category-edit' obj.id %}">edit</a>
				<a href="{% url 'category-delete' obj.id %}">delete</a>
			</td>
		</tr>
		{% empty %}
        <tr>
            <td colspan="3">no items</td>
        </tr>
		{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}
