{% extends "base.html" %}

{% block content %}
<h1>Filter your expenses</h1>
<a href="{% url 'expenses:expense-create' %}">add new expense</a>

<form method="get" action="">
  {{form.as_p}}

	<button type="submit">search</button>

</form>
<br>
<table border="1" id="table-expenses">
	<caption> Your Expenses</caption>
	<thead>
	  <tr>
		<th>no.</th>
		<th>category</th>
		<th>name</th>
		<th>amount</th>
		<th>date</th>
		<th>actions</th>
	  </tr>
	</thead>
	<tbody>

	{% for obj in object_list %}
	  <tr>
		<td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
		<td>{{ obj.category|default:"-" }}</td>
		<td>{{ obj.name|default:"-" }}</td>
		<td>{{ obj.amount|floatformat:2 }}</td>
		<td>{{obj.date}}</td>
		<td>
		  <a href="{% url 'expenses:expense-edit' obj.id %}">edit</a>
		  <a href="{% url 'expenses:expense-delete' obj.id %}">delete</a>
		</td>
	  </tr>
	  {% empty %}
	  <tr>
		<td colspan="5">no items</td>
	  </tr>
	{% endfor %}
	</tbody>
</table>
{% include "_pagination.html" %}


<hr>
<div class="inline-tables">
	<table id="table-summary-category" class="table-small">

		<thead>
		  <tr>
			<th>category</th>
			<th>summary per category</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			{% for category, total in summary_per_category.items %}
			<tr>
				<td>{{category}}:</td>
				<td>{{total|floatformat:2}}</td>
			</tr>
			{% endfor %}
		  </tr>
		</tbody>
	</table>

	<table id="table-total" class="table-small">

		<thead>
		  <tr>
			<th>total amount</th>
		  </tr>
		</thead>
		<tbody>
			<tr>
				<td>{{total_amount_spent|floatformat:2}}</td>
			</tr>
		</tbody>
	</table>

	<table id="table-sum-month" class="table-small">

		<thead>
			<tr>
				<th>category</th>
				<th>summary per month</th>
		  	</tr>
		</thead>
		<tbody>
			<tr>
			{% for category, total in summary_per_month.items %}
				<tr>
					<td>{{category}}:</td>
					<td>{{total|floatformat:2}}</td>
				</tr>
			{% endfor %}
		  	</tr>
		</tbody>
	</table>
</div>
{% endblock %}
